.app{
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-items: center;
  gap:1rem;

  &__header{
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    & h1{
      text-align: center;
      font-size: 3.6rem;
    }

    &__tags{
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__body{
    background-color: orange;
    grid-column: 1/-1;
  }
}