.app{
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-items: center;
}

.app__header{
  grid-column: 2/2;
}

.app__header h1{
  text-align: center;
}

.app__body{
  background-color: orange;
  grid-column: 1/-1;
}